body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.brush-selection {
  height: 70px;
  display: flex;
  margin-bottom: 20px;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette {
  display: flex;
  margin-right: 20px;
}

.brush {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
}

#current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 5px;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.square {
  border: 1px solid #ccc;
}

.color-1 {
  background-color: red;
}

.color-2 {
  background-color: orange;
}

.color-3 {
  background-color: yellow;
}

.color-4 {
  background-color: green;
}

.color-5 {
  background-color: blue;
}

.color-8 {
  background-color: white;
}